{% extends 'base.html' %}

{% load bootstrap4 %}
{% load staticfiles %}

{% block title %}
    Trading Card Generator
{% endblock %}

{% block extra_head %}
    {{ form.media }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'cropperjs/dist/cropper.css' %}">
    <link rel="stylesheet" href="{% static 'cardform.css' %}">

{% endblock %}

{% block content %}
    {% bootstrap_form_errors form %}
    <label class="control-label" for="id_name">Picture</label>
      <div class="container">
        <div class="control-group error">
            <label class="label">
              <img class="rounded" data-toggle="tooltip" title="Upload your image" id="avatar" src="{% static 'Upload.jpg' %}" alt="avatar" style="width: 25%; height: 25%">
              <input type="file" class="sr-only" id="input" name="image" accept="image/*">
            </label>
            {% for error in form.image.errors %}
                <span class="help-inline errorlist errors">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="alert" role="alert" style="display: none;"></div>
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="img-container">
                  <img id="image" src="">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="crop">Crop</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <script src="{% static 'cropperjs/dist/cropper.js' %}"></script>
    <script src="{% static 'cardform.js' %}"></script>
    <script src="{% static 'hermite-resize/dist/hermite.js' %}"></script>
    <div class="help-block">To upload a picture, click on the image above.<br>
        The trading card will be cropped in the production process. Please keep all important details off the edges of the card.<br>
        If you're satisfied with your card, please upload it <a href="https://goo.gl/forms/JIPkvU8XdYYGFBfH2">here</a>.<br>
    </div>
    <form role="form" id="cropping_form" action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% bootstrap_form form %}
        <div class="help-block">Press the submit button to start the generation of the trading card. The upload of the image might take a few seconds. Thank you for your patience.<br>
            <strong>If you're satisfied with your card, please upload it <a href="https://goo.gl/forms/JIPkvU8XdYYGFBfH2">here</a></strong>. The card and your data is not saved on this server!</div>
        {% buttons submit='Submit' reset="Clear form" %}{% endbuttons %}

    </form>
{% endblock %}
